*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}


body{
    background:#f1f5f9;
    padding:30px;
}


.container{
    max-width:900px;
    margin:auto;
    background:white;
    padding:30px;
    border-radius:20px;
    box-shadow:0 8px 25px rgba(0,0,0,0.1);
}


h1{
    text-align:center;
    margin-bottom:30px;
    color:#1e293b;
}


.info,
.add-box{
    display:flex;
    gap:10px;
    flex-wrap:wrap;
    background:#f8fafc;
    padding:20px;
    border-radius:15px;
    margin-bottom:20px;
}


input{
    flex:1;
    min-width:180px;
    padding:12px;
    border:1px solid #cbd5e1;
    border-radius:10px;
    font-size:15px;
}


button{
    background:#2563eb;
    color:white;
    border:none;
    padding:12px 25px;
    border-radius:10px;
    cursor:pointer;
    font-size:15px;
}


button:hover{
    background:#1d4ed8;
}



table{
    width:100%;
    border-collapse:collapse;
    margin-top:20px;
}


th{
    background:#2563eb;
    color:white;
    padding:12px;
}


td{
    text-align:center;
    padding:12px;
    border-bottom:1px solid #ddd;
}


h2{
    margin:25px 0;
    color:#1e293b;
}


#printBtn{
    width:100%;
}



@media print{

    body{
        background:white;
        padding:0;
    }


    .container{
        box-shadow:none;
        width:100%;
    }


    .info,
    .add-box,
    #printBtn{
        display:none;
   
